canvas {
  border: 2px solid red;
  padding: 7px 7px;
  background: #bbb;
}

canvas:hover {
  image-rendering: pixelated;
}

canvas[data-tape="gold/black"] {
  filter: invert(100%) brightness(70%) sepia(100%) saturate(200%);
}
